<!-- editar bodega -->

<div class="jumbotron">
    <div class="card">
    
        <p>Se va a modificar la bodega: <b>{{bodega}}</b></p>
        <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="col-md-4">Ubicación de la bodega:</label>
                <input type="text" class="form-control" formControlName="ubicacion_bodega"/>
            </div>


            <div class="form-group">
                    <label class="col-md-4">Teléfono de la bodega:</label>
                    <input type="number" class="form-control" formControlName="telefono_bodega"/>
            </div>

            <div class="form-group">
                <label class="col-md-4">Web de la bodega:</label>
                <input type="text" class="form-control" formControlName="web_bodega"/>
            </div>
            
            <div class="form-group">
                <label class="col-md-4">Email de la bodega:</label>
                <input type="text" class="form-control" formControlName="email_bodega"/>
            </div>
            <div class="form-group">
                <!--<button (click)="addDenominacion(nombre_denominacion, ubicacion_denominacion,web_denominacion,nombre_bodega,ubicacion_bodega,
                telefono_bodega, web_bodega,email_bodega, blanca, tinta, rosado)" type="submit"                         
                class="btn btn-primary">Añadir Bodega y Denominacion</button>-->
                <button type="submit" class="btn btn-dark">Actualizar bodega</button>
              </div>
        </form>

    </div>
</div>