.jumbotron {
   /* background: none*/
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
   text-align: center;
   color: white;
}
.responsive{
   width: 90%;
   height: auto;
}

.example-card {
   max-width: auto;
}
.responsive{
      /*width: 90%;*/
      width:90%;
      height: auto;
     
 }

 
 .example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 }

